img.title {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    color:#e1466f;
    text-align: justify;
}
p {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

h2, h3 {
    color:#050643;
    padding-top: 2%;
    padding-bottom: 2%;
}

.illustration {
    padding-top: 2%;
    width: 100%;
    display: flex;
    padding-left:10px ;
}

.grid {
    display: grid;
    grid-template-columns: 60% 40%;
}

h2.footer {
    color:#e1466f;

}

footer {
    text-align: justify;
    margin-bottom: 0;
    padding-bottom: 0;
}

.illu-footer {
    width: 250px;
    height: 250px;
    padding-left: 60%;
}

.cta{
    display: inline-flex;
    align-items: center;
    gap: 100px;
    justify-content: center;   
}
/*/////////////*/


.twitter{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00acee;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
}
.twitter img{
    width: 20px;
    padding-right: 15px;
}
.twitter:hover {
    background-color: #0090c9;
}

.linkedin{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0072b1;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
}
.linkedin img {
    width: 20px;
    padding-right: 15px;
}
.linkedin:hover{
background-color: #006195;
}
.medium{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 15px 30px;
}
.medium:hover{
    color: rgb(182, 182, 182);
}
.medium img{
    width: 20px;
    padding-right: 15px;
}
body {
    margin-bottom: 20%;
}