img.title {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    color:#e1466f;
    text-align: justify;
}
p {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
}

h2, h3 {
    color:#050643;
    padding-top: 2%;
    padding-bottom: 2%;
}

.illustration {
    width: 100%;
    display: flex;
    padding-left:10px ;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h2.footer {
    color:#e1466f;

}

footer {
    text-align: justify;
}

.illu-footer {
    width: 250px;
    height: 250px;
    padding-left: 60%;
}