nav {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
  }
  .navMenu a {
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    transition: 300ms;
    color: gray;
  }
  .navMenu ul {
    padding: 0%;
    margin: 0%;
    list-style: none;
    display: flex;
    align-items: center;
  }
  .navMenu ul:last-child {
    gap: 3rem;
    padding: 10px;
  }
  .logo,
  .navMenu ul {
  display: flex;
  align-items: center;
}
.navMenu > .active > a { 
    color: black ; 
}