.imagesGrid{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
    margin-top: 150px;

}
.imagesGrid img{
    width: 100%;
    height: 300px;
}


.enSavoirPlus{
 background-image: linear-gradient(to right, #e1466f 75%, transparent 50%);
 background-position: 0 110%;
 background-size: 100% 0.2em;
 background-repeat: no-repeat;
 color: #e1466f;
 text-decoration: none;
 text-transform: uppercase;
}
section.imagesGrid .date{
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}
section.imagesGrid h2 a{
    color: #e1466f;
    padding-bottom: 10px;
    text-decoration: none;
}
section.imagesGrid p{
    font-size: 0.8rem;
    padding-bottom: 10px;
    text-align: justify;
}
/*////////////////*/

section.acceuilIntro h1
{
    color: #e1466f;
    font-family: 'Abril Fatface';
}

section.acceuilIntro h2 {
    color: black;
   
}

p {
    color: black;
    font-size: 15px;
    text-align: justify;
    margin: 10px 0;
    }

.illustration {
    width: 250px;
    height: 250px;
    padding-left: 50px;
}

#intro{
    display: flex;
}
.cta{
    display: inline-flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;  
    
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
/*/////////////*/


.twitter{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00acee;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
}
.twitter img{
    width: 20px;
    padding-right: 15px;
}
.twitter:hover {
    background-color: #0090c9;
}

.linkedin{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0072b1;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
}
.linkedin img {
    width: 20px;
    padding-right: 15px;
}
.linkedin:hover{
background-color: #006195;
}
.medium{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 15px 30px;
}
.medium:hover{
    color: rgb(182, 182, 182);
}
.medium img{
    width: 20px;
    padding-right: 15px;
}
@media screen and (max-width: 390px) {
    .imagesGrid{
      display: inline-block;
      width: 1fr;
    }
    .illustration{
        display: none;
    }
    h1{
        display: flex;
        text-align: center;
    }
    .cta{
        display: inline-flex;
        align-items: center;
        gap: 5px;
        justify-content: center;
        margin-top: 15px;    
    }
    section .accueilIntro{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    #intro h1{
        display: flex;
        align-items: center;
    }
  }