*{
    margin: 0%;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 40px;
}
nav {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
  }
.navMenu a {
    text-decoration: none;
    font-size: 1.2rem;
    display: inline-block;
    width: 100%;
    transition: 300ms;
    color: gray;
  }
.navMenu a:hover{
    font-size: 1.3rem;
    color: #050643;
}
.navMenu ul {
    padding: 0%;
    margin: 0%;
    list-style: none;
    display: flex;
    align-items: center;
  }
.navMenu ul:last-child {
    gap: 3rem;
    padding: 10px;
  }
.logo,
.navMenu ul {
  display: flex;
  align-items: center;
}
.listIndex {

    font-size: 1.2rem;
    color: #050643;
}
/*//////////////////
ANIMATION 
//////////////////*/
nav li{
    display: inline-block;
    position: relative;
    color: #050643;
 }
nav li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #050643;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
nav li:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
@media screen and (max-width: 390px) {
  body{
    margin-left: 7px;
    margin-right: 7px;
  }
  .logo{
    display: none;
  }
  .navMenu{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
  }
  .navMenu ul:last-child {
    gap: 2rem;
    
  }
}